@import "tailwindcss";

@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('./assets/fonts/DepartureMono-Regular.woff2') format('woff2');
  font-style: normal;
}

.font-clash {
  font-family: 'Clash Display', sans-serif;
  font-weight: 400;
}

.font-space {
  font-family: "Space Mono", sans-serif;
  font-weight: 500; /* mobile */
  word-spacing: 0.05em;
}
@media (min-width: 768px) {
  .font-space {
    font-weight: 300; /* desktop */
  }
}

.font-pixel {
  font-family: "Departure Mono", sans-serif;
  font-weight: 400;
}

.line {
  overflow: visible !important;
  padding-top: 0.1em !important;
  margin-top: -0.1em !important;
}


.text-green-mag {
  color: #7E968D;
}

.bg-green-mag {
  background-color: #7E968D;
}

.text-red-mag {
  color: #BD252C;
}

.bg-red-mag {
  background-color: #BD252C;
}




/* testi colorati animati */
.line-draw-black {
  background-image: linear-gradient(to right, #000000, #000000);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  padding-bottom: 2px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.marker-highlight {
  background-image: linear-gradient(to right, #7E968D 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0%;
  padding: 0.1em 0.35em;
  border-radius: 0.125rem;
  transition: color 0.3s ease;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.marker-highlight.marker-blue {
  background-image: linear-gradient(to right, #36BDEE 50%, transparent 50%);
}
.marker-highlight.marker-orange {
  background-image: linear-gradient(to right, #F59B45 50%, transparent 50%);
}



